<nav class="bg-[#6d1931] flex items-center justify-around py-4">
    <a href="#inicio"><img width="150" src="https://puntokennedy.com.ar/img/Logo-PK_blanco.webp" alt="logo punto kennedy"/></a>
    <section>
        <ul class="flex gap-4">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#asesoramiento">Asesoramiento</a></li>
            <li><a href="#beneficios">Beneficios</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </section>
</nav> 