<section class="py-10 text-center">
    <p class="font-bold uppercase text-3xl">Nuestras oficinas</p>
    <div class="flex flex-col md:flex-row md:justify-evenly py-10">
        <div class="flex flex-col items-center">
            <h4 class="text-xl mb-2"><span class="font-bold">Punto Kennedy</span> | Catamarca</h4>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1869.139636081281!2d-65.78260489185097!3d-28.46478471964263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942429309d7f5b17%3A0x7fed75c241a5415e!2sUniversidad%20Kennedy%20Catamarca!5e0!3m2!1ses!2sar!4v1707612657589!5m2!1ses!2sar"
                width="300"
                height="300"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="flex flex-col items-center mt-5 md:mt-0">
            <h4 class="text-xl mb-2"><span class="font-bold">Punto Kennedy</span> | Santiago del Estero</h4>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3529.8641868015343!2d-64.26900811925074!3d-27.783158614615676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943b52151089517f%3A0xd53bbdc0acb937f!2sAv.%20Rivadavia%20499%2C%20G4200%20Santiago%20del%20Estero!5e0!3m2!1ses!2sar!4v1707613488623!5m2!1ses!2sar"
                width="300"
                height="300"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
